<div class="p-6">

    <div class="mat2-table">
        <div class="mat2-header-row">
            <div class="mat2-header-cell">Nº Recibo</div>
            <div class="mat2-header-cell">Vencimiento</div>
            <div class="mat2-header-cell">Moneda</div>
            <div class="mat2-header-cell">Comisión</div>
            <div class="mat2-header-cell">Monto</div>
            <div class="mat2-header-cell">Documento</div>
            <div class="mat2-header-cell">Estado</div>
        </div>
        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">12/03/2020</div>
            <div class="mat2-cell">Soles</div>
            <div class="mat2-cell">10%</div>
            <div class="mat2-cell">US$ 120</div>
            <div class="mat2-cell">B001-0009133</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
                        Pagado
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>