<vex-page-layout class="p-5" mode="card">

    <vex-page-layout-content vexContainer>
        
        <div fxLayout="column" fxLayoutGap="16px" class="mb-4">

            <div>
              <button color="primary" mat-raised-button type="button">
                <ic-icon [icon]="icCloudUpload" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                  size="24px"></ic-icon>
                <span>Subir archivo de siniestros</span>
              </button>

              <button color="primary-300" mat-raised-button type="button" class="ml-5">
                <span>Registrar siniestro</span>
              </button>
            </div>

          </div>

        <div class="mb-4" fxLayoutAlign="space-between center">
            <div class="w-50 dbb">
            <h4 class="text-primary-500">Detalles del siniestro</h4>
            </div>
            <div class="mt-4 dbb" >
                <mat-checkbox [checked]="true" color="primary">Solicitud de Beneficio</mat-checkbox>
            </div>
          </div>
            <div fxLayout="row" fxLayoutGap="8px">
         
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Nº Solicitud de  Beneficio</mat-label>
                        <input matInput>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Modalidad de Pago</mat-label>
                        <mat-select>
                            <mat-option>Crédito</mat-option>
                            <mat-option>Contado</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Nº Autorización de Origen</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

          
                <div fxLayout="row" fxLayoutGap="8px">
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Monto Tope Diagnostico</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Cliente</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Aseguradora</mat-label>
                        <input matInput>
                    </mat-form-field>
           
                </div>

                <div fxLayout="row" fxLayoutGap="8px">
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Ramo</mat-label>
                        <mat-select>
                            <mat-option>...</mat-option>
                            <mat-option>...</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Poliza</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Producto</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                
                    <!--  
                        <mat-form-field appearance="outline" class="vex-flex-form-fieldn mt-0" fxFlex="30" *ngIf="personaNatural">
                          <textarea matInput
                          placeholder="Observación"
                          matTextareaAutosize matAutosizeMinRows="2"
                          matAutosizeMaxRows="5"
                          ></textarea>
                         </mat-form-field>
                    -->
                                      
        



            <!-- <mat-tab-group>
        <mat-tab label="Póliza">
          <div class="p-6">
            Detalles del siniestro
          </div>
        </mat-tab>

      </mat-tab-group> -->

    </vex-page-layout-content>

</vex-page-layout>




    <!-- ***************** DETALLES - POLIZA *****************************

        <div fxFlex="auto" class="p-6">
            <div fxLayout="row">
                <div fxFlex="25">
                    <div class="mat-caption text-gray-500">Nº de Póliza</div>
                    <div class="mb-3">223123233</div>
                </div>
                <div fxFlex="25">
                    <div class="mat-caption text-gray-500">Nº de Certificado</div>
                    <div class="mb-3">455433</div>
                </div>
                
            </div>
            <div fxLayout="row mt-4">
                <div fxFlex="25">
                    <div class="mat-caption text-gray-500">Causa del Siniestro</div>
                    <div class="mb-3">Accidente</div>
                </div>
                <div fxFlex="25">
                    <div class="mat-caption text-gray-500">Fecha de Ocurrencia</div>
                    <div class="mb-3">12/03/2020</div>
                </div>
                <div fxFlex="25">
                    <div class="mat-caption text-gray-500">Fecha de Denuncia</div>
                    <div class="mb-3">12/03/2020</div>
                </div>

            </div>
            <div fxLayout="row">
                
                <div fxFlex="25">
                    <div class="mat-caption text-gray-500">Cobertura Afectada</div>
                    <div class="mb-3">Incendio</div>
                </div>
                
                <div fxFlex="25">
                    <div class="mat-caption text-gray-500">Monto de Reserva</div>
                    <div class="mb-3">S/ 0,000.00</div>
                </div>
                
                <div fxFlex="25">
                    <div class="mat-caption text-gray-500">Monto de Pagado</div>
                    <div class="mb-3">S/ 0,000.00</div>
                </div>
                
                <div fxFlex="25">
                    <div class="mat-caption text-gray-500">Fecha de Pago de Aseguradora</div>
                    <div class="mb-3">12/03/2020</div>
                </div>
                
            </div>
            <div fxLayout="row">
                
                <div fxFlex="25">
                    <div class="mat-caption text-gray-500">Ajustador</div>
                    <div class="mb-3">Juan Luis Perez Quispe</div>
                </div>
                
                <div fxFlex="75">
                    <div class="mat-caption text-gray-500">Observaciones</div>
                    <div class="mb-3">Nullam pulvinar felis et magna commodo blandit. Ut in placerat dolor. Curabitur non lorem
                        at est auctor faucibus ut in massa. Phasellus convallis diam enim, ac vulputate turpis porta id.</div>
                    </div>
                    
                </div>
                
            </div>
        -->