<div class="p-8">
    <div fxLayout="row" fxLayoutGap="16px">

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="20">
            <mat-label>Tipo de Reporte</mat-label>
            <mat-select>
                <mat-option value="R1">Reporte1</mat-option>
                <mat-option value="R2">Reporte2</mat-option>
                <mat-option value="R3">Reporte3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="20">
            <mat-label>Fecha de Inicio</mat-label>
            <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()"
                [matDatepicker]="formDatepickerRef" matInput readonly>
            <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #formDatepickerRef></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="20">
            <mat-label>Fecha de Fin</mat-label>
            <input (click)="formDatepickerRef2.open()" (focus)="formDatepickerRef2.open()"
                [matDatepicker]="formDatepickerRef2" matInput readonly>
            <mat-datepicker-toggle [for]="formDatepickerRef2" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #formDatepickerRef2></mat-datepicker>
        </mat-form-field>

        <div fxFlex="auto">
            <button color="primary" mat-raised-button type="button" class="mt-3">Generar</button>
        </div>

    </div>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
        <div class="bg-card rounded-full border px-4" fxLayoutAlign="start center" fxFlex="30">

            <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
            <input class="px-4 py-3 border-0 outline-none w-full bg-transparent" placeholder="Buscar en el reportes..."
                type="search">
        </div>

        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end center">
            <button class="bg-teal-500 text-contrast-white mt-3" mat-raised-button type="button">
                <ic-icon [icon]="icMail" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="24px">
                </ic-icon>
                <span>Enviar por Email</span>
            </button>
            <button class="bg-purple-500 text-contrast-white mt-3" mat-raised-button type="button">
                <ic-icon [icon]="icCloudDownload" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                    size="24px"></ic-icon>
                <span>Descargar</span>
            </button>
        </div>

    </div>

    <div fxLayout="column" fxLayoutGap="16px">
        <vex-custom-table (rowClick)="rowClick($event)" [columns]="tableColumns" [data]="tableData"
            [searchStr]="searchStr$ | async">
        </vex-custom-table>
    </div>
</div>