.upload-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: auto;
    background-color: #efefef;
    border-radius: 0.6rem;
    text-align: center;
    border: dashed 1px #dddddd
}