<vex-page-layout mode="card">

    <vex-page-layout-header fxLayout="row" fxLayoutAlign="space-between center">

        <div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">

                <button [routerLink]="['/clientes']" mat-icon-button type="button">
                    <mat-icon [icIcon]="icArrowBackIos"></mat-icon>
                </button>

                <div>
                    <h2 class="title m-0">
                        <span *ngIf="cliente.tipo.id == 1">{{ cliente.apellidoPaterno }} {{ cliente.apellidoMaterno }},
                            {{ cliente.nombre }}</span>
                        <span *ngIf="cliente.tipo.id == 2">{{ cliente.nombre }}</span>
                    </h2>
                    <div>
                        <span *ngIf="cliente.tipo.id == 1">DNI 45055471 - Materia Gris</span>
                        <span *ngIf="cliente.tipo.id == 2">RUC 20450554711</span>
                    </div>
                </div>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">

            <button color="primary-50" mat-stroked-button type="button" [routerLink]="['/clientes']">
                <span>Cancelar</span>
            </button>

            <button color="primary-50" mat-raised-button type="button" [routerLink]="['/clientes']">Guardar
                Cambios</button>

        </div>

    </vex-page-layout-header>

    <vex-page-layout-content vexContainer>
        <div class="card">
            <vex-cliente-form [cliente]="cliente"></vex-cliente-form>
        </div>
    </vex-page-layout-content>

</vex-page-layout>