<div class="p-6">

  <div class="mat2-table">

    <div class="mat2-header-row">
      <div class="mat2-header-cell" style="max-width: 20%">Nº</div>
      <div class="mat2-header-cell" style="max-width: 40%">Descripción</div>
      <div class="mat2-header-cell" style="max-width: 15%">Fecha</div>
      <div class="mat2-header-cell" style="max-width: 15%">Archivo</div>
    </div>

    <div class="mat2-row">
      <div class="mat2-cell" style="max-width: 20%">1</div>
      <div class="mat2-cell" style="max-width: 40%">Aquí la descripción del motivo del porque el endoso</div>
      <div class="mat2-cell" style="max-width: 15%">16/06/2020</div>
      <div class="mat2-cell" style="max-width: 15%"><button color="primary" mat-button type="button">DESCARGAR</button>
      </div>
    </div>

  </div>

</div>