<div class="mat2-table">

  <div class="mat2-header-row">
    <div class="mat2-header-cell" style="max-width: 20%">Detalle</div>
    <div class="mat2-header-cell" style="max-width: 40%">Descripción</div>
    <div class="mat2-header-cell" style="max-width: 15%">Fecha</div>
    <div class="mat2-header-cell" style="max-width: 10%">Estado</div>
    <div class="mat2-header-cell" style="max-width: 15%"></div>
  </div>

  <div class="mat2-row">
    <div class="mat2-cell" style="max-width: 20%">Primer contacto</div>
    <div class="mat2-cell" style="max-width: 40%">Archivo externo subido el 05 de enero del 2020 a las 05:40PM</div>
    <div class="mat2-cell" style="max-width: 15%">16/06/1974</div>
    <div class="mat2-cell" style="max-width: 10%">
      <div>
        <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
          Completo
        </div>
      </div>
    </div>
    <div class="mat2-cell" style="max-width: 15%"><button color="primary" mat-button type="button">DESCARGAR</button>
    </div>
  </div>
<!--
  <div class="mat2-row">
    <div class="mat2-cell" style="max-width: 20%">Envío de Cotizaciónes</div>
    <div class="mat2-cell" style="max-width: 40%">Enviado desde B360 el 10 de enero del 2020 a las 11:40AM</div>
    <div class="mat2-cell" style="max-width: 15%">16/06/1974</div>
    <div class="mat2-cell" style="max-width: 10%">
      <div>
        <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
          Completo
        </div>
      </div>
    </div>
    <div class="mat2-cell" style="max-width: 15%"><button color="primary" mat-button type="button">VER REGISTRO</button>
    </div>
  </div>
-->
  <div class="mat2-row">
    <div class="mat2-cell" style="max-width: 20%">Elección del cliente</div>
    <div class="mat2-cell" style="max-width: 40%">Pendiente</div>
    <div class="mat2-cell" style="max-width: 15%"></div>
    <div class="mat2-cell" style="max-width: 10%">
      <div>
        <div class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-200" fxFlex="none">
          Pendiente
        </div>
      </div>
    </div>
    <div class="mat2-cell" style="max-width: 15%"><button color="primary" mat-button type="button">SUBIR
        EVIDENCIA</button></div>
  </div>
  <div class="mat2-row">
    <div class="mat2-cell" style="max-width: 20%">Emisión de Póliza</div>
    <div class="mat2-cell" style="max-width: 40%">Pendiente</div>
    <div class="mat2-cell" style="max-width: 15%"></div>
    <div class="mat2-cell" style="max-width: 10%">
      <div>
        <div class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-200" fxFlex="none">
          Pendiente
        </div>
      </div>
    </div>
    <div class="mat2-cell" style="max-width: 15%"><button color="primary" mat-button type="button">SUBIR
        EVIDENCIA</button></div>
  </div>



</div>