<div class="p-6">
    <div class="mat2-table">
        <div class="mat2-header-row">
            <div class="mat2-header-cell">Póliza</div>
            <div class="mat2-header-cell">Cliente</div>
            <div class="mat2-header-cell">Moneda</div>
            <div class="mat2-header-cell">Comisión</div>
            <div class="mat2-header-cell">Fecha de Pago</div>
            <div class="mat2-header-cell">Estado</div>
        </div>

        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">Diego Alvarado</div>
            <div class="mat2-cell">Soles</div>
            <div class="mat2-cell">S/ 40</div>
            <div class="mat2-cell">23/12/2019</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
                        Ganada
                    </div>
                </div>
            </div>
        </div>
        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">Alberto Rosado</div>
            <div class="mat2-cell">Soles</div>
            <div class="mat2-cell">S/ 30</div>
            <div class="mat2-cell">-</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-100" fxFlex="none">
                        Potencial
                    </div>
                </div>
            </div>
        </div>
        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">Sabrina Fernandez</div>
            <div class="mat2-cell">Soles</div>
            <div class="mat2-cell">S/ 30</div>
            <div class="mat2-cell">22/12/2019</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
                        Ganada
                    </div>
                </div>
            </div>
        </div>
        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">Alberto Rosado</div>
            <div class="mat2-cell">Soles</div>
            <div class="mat2-cell">S/ 30</div>
            <div class="mat2-cell">-</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-100" fxFlex="none">
                        Potencial
                    </div>
                </div>
            </div>
        </div>
        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">Alberto Rosado</div>
            <div class="mat2-cell">Soles</div>
            <div class="mat2-cell">S/ 30</div>
            <div class="mat2-cell">-</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-100" fxFlex="none">
                        Potencial
                    </div>
                </div>
            </div>
        </div>
        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">Alberto Rosado</div>
            <div class="mat2-cell">Soles</div>
            <div class="mat2-cell">S/ 30</div>
            <div class="mat2-cell">-</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-100" fxFlex="none">
                        Potencial
                    </div>
                </div>
            </div>
        </div>
        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">Alberto Rosado</div>
            <div class="mat2-cell">Soles</div>
            <div class="mat2-cell">S/ 30</div>
            <div class="mat2-cell">-</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-100" fxFlex="none">
                        Potencial
                    </div>
                </div>
            </div>
        </div>
        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">Alberto Rosado</div>
            <div class="mat2-cell">Soles</div>
            <div class="mat2-cell">S/ 30</div>
            <div class="mat2-cell">-</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-100" fxFlex="none">
                        Potencial
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>