<div class="p-6">
    <h4 class="text-primary-500">VIDA</h4>
    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
        <div>
            <h4 class="text-primary-500">VIDA</h4>
        </div>
    </div>
    <div class="mt-4" fxLayout="row" fxLayoutGap="8px">
        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Placa</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Marca</mat-label>
            <mat-select>
                <mat-option>Toyota</mat-option>
                <mat-option>Hyndai</mat-option>
                <mat-option>Kia</mat-option>
                <mat-option>...</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Modelo</mat-label>
            <mat-select>
                <mat-option>Yaris</mat-option>
                <mat-option>Corolla</mat-option>
                <mat-option>Trueno</mat-option>
                <mat-option>...</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Clase</mat-label>
            <mat-select>
                <mat-option>Sedan</mat-option>
                <mat-option>Camioneta</mat-option>
                <mat-option>...</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Uso</mat-label>
            <mat-select>
                <mat-option>Particular</mat-option>
                <mat-option>Taxi</mat-option>
                <mat-option>...</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="8px">
        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Número de Serie</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Cantidad de Asientos</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Número del Motor</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Año del Vehículo</mat-label>
            <mat-select>
                <mat-option>2019</mat-option>
                <mat-option>2018</mat-option>
                <mat-option>2017</mat-option>
                <mat-option>...</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Inicio de Vigencia</mat-label>
            <input (click)="formDatepickerRef2.open()" (focus)="formDatepickerRef2.open()"
                [matDatepicker]="formDatepickerRef2" matInput readonly>
            <mat-datepicker-toggle [for]="formDatepickerRef2" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #formDatepickerRef2></mat-datepicker>
        </mat-form-field>

    </div>

    <div class="pb-5" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">

        <div>
            <h4 class="text-primary-500">Coordinación de inspección si requiere</h4>
        </div>

    </div>

    <div fxLayout="row" fxLayoutGap="8px">

        <mat-form-field appearance="outline" fxFlex="30">
            <mat-label>Persona de Contacto</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="20">
            <mat-label>Teléfono</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="20">
            <mat-label>Referencia de día y hora</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div class="pb-5" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">

        <div>
            <h4 class="text-primary-500">Archivos</h4>
        </div>

    </div>

    <button color="primary" mat-raised-button type="button">
        <ic-icon [icon]="icCloudUpload" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true" size="24px">
        </ic-icon>
        <span>Subir Tarjeta de Propiedad</span>
    </button> -->

</div>