<vex-page-layout mode="card">
  <vex-page-layout-header fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">

        <button [routerLink]="['/polizas']" mat-icon-button type="button">
          <mat-icon [icIcon]="icArrowBackIos"></mat-icon>
        </button>

        <div>
          <h2 class="title m-0">Agregar / Editar Póliza - Autos</h2>
          <div>Diego Alonso Alvarado Alatrista - DNI 45055471 - Materia Gris</div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">

      <button color="primary-50" mat-stroked-button type="button" [routerLink]="['/polizas']">
        <span>Cancelar</span>
      </button>

      <button color="primary-50" mat-raised-button type="button" [routerLink]="['/polizas']">Guardar Cambios</button>

    </div>
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer>
    <div class="card">

      <mat-tab-group>
        <mat-tab label="Póliza">
          <div class="p-6">
<!--            
            <div fxLayout="column" fxLayoutGap="16px">
              <div>
                <button color="primary" mat-raised-button type="button">
                  <ic-icon [icon]="icCloudUpload" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                    size="24px"></ic-icon>
                  <span>Subir archivo de la póliza e importar datos</span>
                </button>
              </div>
            </div>
            --> 
            <div class="mt-5">

              <h4 class="text-primary-500 d-none">Información de la Póliza</h4>
            </div>

            <div class="pb-8" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
              <mat-radio-group color="accent" fxLayout="row" fxLayoutGap="16px" (change)="cambioTipoPersona($event)">
              </mat-radio-group>
              <div fxLayout="row" fxLayoutGap="16px">
                  <mat-checkbox [checked]="true" color="primary">Poliza Colectiva</mat-checkbox>
              </div>
          </div>

            <div class="mt-0" fxLayout="row" fxLayoutGap="8px">

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Número de Póliza</mat-label>
                <input matInput>
              </mat-form-field> 
              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Ramo</mat-label>
                <mat-select>
                    <mat-option>Asistencia Médica</mat-option>
                    <mat-option>...</mat-option>
                </mat-select>
            </mat-form-field>

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Producto</mat-label>
                <mat-select>
                    <mat-option>...</mat-option>
                    <mat-option>...</mat-option>
                </mat-select>
            </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutGap="8px">

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Inicio de Vigencia</mat-label>
                <input (click)="formDatepickerRef2.open()" (focus)="formDatepickerRef2.open()"
                  [matDatepicker]="formDatepickerRef2" matInput readonly>
                <mat-datepicker-toggle [for]="formDatepickerRef2" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #formDatepickerRef2></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Fin de Vigencia</mat-label>
                <input (click)="formDatepickerRef3.open()" (focus)="formDatepickerRef3.open()"
                  [matDatepicker]="formDatepickerRef3" matInput readonly>
                <mat-datepicker-toggle [for]="formDatepickerRef3" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #formDatepickerRef3></mat-datepicker>
              </mat-form-field>
            </div>
        <div class="mt-2" fxLayout="row" fxLayoutGap="8px">
        
          <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Codigo Parentesco Afiliado</mat-label>
            <input matInput>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Fecha Inscripcion de Titular</mat-label>
            <input (click)="formDatepickerRef4.open()" (focus)="formDatepickerRef4.open()"
            [matDatepicker]="formDatepickerRef4" matInput readonly>
            <mat-datepicker-toggle [for]="formDatepickerRef4" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #formDatepickerRef4></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Estado de Cobertura</mat-label>
            <mat-select>
                <mat-option>...</mat-option>
                <mat-option>...</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
          <mat-label>Estado de Poliza</mat-label>
          <mat-select>
              <mat-option>Vigente</mat-option>
              <mat-option>Anulado</mat-option>
              <mat-option>Suspedido</mat-option>
          </mat-select>
      </mat-form-field>

        </div>
        
        
        
        <div class="mt-2" fxLayout="row" fxLayoutGap="8px">
          
          
              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="30" *ngIf="personaNatural">
                 <!-- <mat-label>Institución u Organismo Público al que pertenece</mat-label>-->
                 <textarea matInput
                 placeholder="Observación de la Cobertura"
                 matTextareaAutosize matAutosizeMinRows="2"
                 matAutosizeMaxRows="5"
                 ></textarea>
                </mat-form-field>
                
              </div>
                  <div class="mt-0">
                    <h4 class="text-primary-500">Información de Certificados</h4> 
                  </div>
                  <div class="mt-4" fxLayout="column" fxLayoutGap="16px">
                    <div>
                      <button color="primary" mat-raised-button type="button">
                        <ic-icon [icon]="icCloudUpload" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                          size="24px"></ic-icon>
                        <span>Importar datos de Certificados</span>
                      </button>
                    </div>
                  </div>

            </div>
            </mat-tab>
            
                    
        <mat-tab label="Contratante">
          <div class="p-6">
            

      

            <div class="mt-5">
              <h4 class="text-primary-500">Información del Contratante</h4> 
            </div>
            <div class="mt-4" fxLayout="row" fxLayoutGap="8px">

            <mat-form-field appearance="outline" >
              <mat-label>Buscar cliente registrado</mat-label>
              <input matInput>
              <mat-icon [icIcon]="icSearch" class="ltr:mr-3 rtl:ml-3" matSuffix></mat-icon>
            </mat-form-field>
          </div>

            <div fxLayout="row" fxLayoutGap="8px">

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Nombre/Razon Social</mat-label>
                <input matInput value="" readonly> 
              </mat-form-field>
              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select>
                    <mat-option>DNI</mat-option>
                    <mat-option>RUC</mat-option>
                </mat-select>
            </mat-form-field>

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Nro Documento</mat-label>
                <input matInput value="" readonly>
              </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutGap="8px">

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Telefono</mat-label>
                <input matInput value="" readonly> 
              </mat-form-field>
              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Nacionalidad</mat-label>
                <input matInput value="" readonly>
              </mat-form-field>

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Correo</mat-label>
                <input matInput value="" readonly>
              </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutGap="8px">

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Dirección</mat-label>
                <input matInput value="" readonly> 
              </mat-form-field>
              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Distrito</mat-label>
                <input matInput value="" readonly>
              </mat-form-field>

            </div>

            <div class="mt-5">
              <h4 class="text-primary-500">Información de Contacto</h4> 
            </div>

            <div fxLayout="row" fxLayoutGap="8px">

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Parentesco</mat-label>
                <input matInput value="" readonly> 
              </mat-form-field>
              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Nombre</mat-label>
                <input matInput value="" readonly>
              </mat-form-field>

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Apellidos</mat-label>
                <input matInput value="" readonly>
              </mat-form-field>

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Correo</mat-label>
                <input matInput value="" readonly>
              </mat-form-field>

            </div>

          </div>
        </mat-tab>

        <mat-tab label="Broker">
          <div class="p-6">
            
            <div class="mt-4" fxLayout="row" fxLayoutGap="8px">

              <mat-form-field appearance="outline" >
                <mat-label>Buscar Broker registrado</mat-label>
                <input matInput>
                <mat-icon [icIcon]="icSearch" class="ltr:mr-3 rtl:ml-3" matSuffix></mat-icon>
              </mat-form-field>
            </div>
        <!--    <div fxLayout="column" fxLayoutGap="16px">

              <div>
                <button color="primary" mat-raised-button type="button">
                  <ic-icon [icon]="icCloudUpload" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                    size="24px"></ic-icon>
                  <span>Subir archivo de cronograma de pagos</span>
                </button>
                <button color="primary-300" mat-raised-button type="button" class="ml-5">
                  <span>Registrar pago</span>
                </button>
              </div>

            </div>-->
          
            <div class="mt-2">
              <h4 class="text-primary-500">Datos del Broker</h4> 
            </div>
            <div class="mt-4" fxLayout="row" fxLayoutGap="8px">
              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Codigo de Broker</mat-label>
                <input matInput value="" readonly>
              </mat-form-field>
            <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
              <mat-label>Razon Social/Nombres</mat-label>
              <input matInput value="" readonly>
            </mat-form-field>
          </div>

            <div fxLayout="row" fxLayoutGap="8px">

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select>
                    <mat-option>DNI</mat-option>
                    <mat-option>RUC</mat-option>
                </mat-select>
            </mat-form-field>
              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Nro Documento</mat-label>
                <input matInput value="" readonly>
              </mat-form-field>

              

              <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Procentaje de Comision</mat-label>
                <input matInput value="" readonly>
              </mat-form-field>

            </div>
          
          </div>
        </mat-tab>


        <mat-tab label="Endosos">
              
          <div class="p-6">
            
            <button color="primary" mat-raised-button type="button">Subir Endoso</button>
            
            <div class="mat2-table">
              
              <div class="mat2-header-row">
                <div class="mat2-header-cell" style="max-width: 20%">Nº</div>
                <div class="mat2-header-cell" style="max-width: 40%">Descripción</div>
                <div class="mat2-header-cell" style="max-width: 15%">Fecha</div>
            <div class="mat2-header-cell" style="max-width: 15%">Archivo</div>
          </div>
          
          <div class="mat2-row">
            <div class="mat2-cell" style="max-width: 20%">1</div>
            <div class="mat2-cell" style="max-width: 40%">Aquí la descripción del motivo del porque el endoso</div>
            <div class="mat2-cell" style="max-width: 15%">16/06/2020</div>
            <div class="mat2-cell" style="max-width: 15%"><button color="primary" mat-button
              type="button">DESCARGAR</button></div>
            </div>
          </div>
          
        </div>
      </mat-tab>

          <!-- 
        <mat-tab label="Cronograma de Pagos">
          <div class="p-6">
            

            <div fxLayout="column" fxLayoutGap="16px">

              <div>
                <button color="primary" mat-raised-button type="button">
                  <ic-icon [icon]="icCloudUpload" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                    size="24px"></ic-icon>
                  <span>Subir archivo de cronograma de pagos</span>
                </button>
                <button color="primary-300" mat-raised-button type="button" class="ml-5">
                  <span>Registrar pago</span>
                </button>
              </div>

            </div>

          </div>
        </mat-tab>

           <mat-tab label="Comisiones">
        <div class="p-6">
          <div fxLayout="column" fxLayoutGap="16px">
            
              <div>
                <button color="primary" mat-raised-button type="button">
                  <ic-icon [icon]="icCloudUpload" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                    size="24px"></ic-icon>
                  <span>Subir archivo de comisiones</span>
                </button>

                <button color="primary-300" mat-raised-button type="button" class="ml-5">
                  <span>Registrar comisión</span>
                </button>
              </div>

            </div>

          </div>
        </mat-tab>
        -->

        <mat-tab label="Siniestros">
          <div class="p-6">
            <div fxLayout="column" fxLayoutGap="16px">

              <div>
                <button color="primary" mat-raised-button type="button">
                  <ic-icon [icon]="icCloudUpload" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                    size="24px"></ic-icon>
                  <span>Subir archivo de siniestros</span>
                </button>

                <button color="primary-300" mat-raised-button type="button" class="ml-5">
                  <span>Registrar siniestro</span>
                </button>
              </div>

            </div>

            <div  fxLayout="column" fxLayoutGap="16px" class="pt-6">

              <h4 class="text-primary-500">Siniestros</h4>
             
              <table mat-table [dataSource]="dataSource" class="w-full"
              fxFlex="auto"
              matSort>
          
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Nº Siniestro </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <ng-container matColumnDef="documento">
                  <th mat-header-cell *matHeaderCellDef> Ramo </th>
                  <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
                </ng-container>
              
                <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef> Nº Poliza </th>
                  <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                </ng-container>
              
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Fecha Ocurrencia </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
          
                <ng-container matColumnDef="etiquetas">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element"> {{element.etiquetas}} </td>
                </ng-container>
          
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element" class="text-right"> <button color="primary" mat-button type="button">VER DETALLE</button> </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          
            </div>


          </div>
        </mat-tab>

        <mat-tab label="Evidencias">
          <div class="p-6">
            <vex-evidencias-view></vex-evidencias-view>
          </div>
        </mat-tab>

      </mat-tab-group>

    </div>
  </vex-page-layout-content>

</vex-page-layout>