<div class="w-full h-full" fxLayout="column" fxLayoutAlign="center center">
    <div @fadeInUp class="card overflow-hidden w-full max-w-sm">
        <div class="p-9" fxLayout.lt-sm="column">
            <div class="pb-8">
                <div>
                    <h4>Accesos</h4>
                </div>
                <div class="pb-0" fxLayout="row" fxLayoutGap="16px" fxLayoutGap.lt-sm="10">
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="300px">
                        <mat-label>Usuario</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="300px">
                        <mat-label>Contraseña</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>