<vex-page-layout mode="card">

  <vex-page-layout-header fxLayout="row" fxLayoutAlign="space-between center">

    <div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">

        <button [routerLink]="['/siniestros']" mat-icon-button type="button">
          <mat-icon [icIcon]="icArrowBackIos"></mat-icon>
        </button>

        <div>
          <h2 class="title m-0">Agregar / Editar Siniestro</h2>
          <div>Diego Alonso Alvarado Alatrista - DNI 45055471 - Materia Gris</div>
        </div>
      </div>

    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
            
        <button color="primary-50" mat-stroked-button type="button" [routerLink]="['/siniestros']">
            <span>Cancelar</span>
        </button>
        
        <button color="primary-50" mat-raised-button type="button" [routerLink]="['/siniestros']">Guardar
            Cambios</button>
            
        </div>

      <!--
      <button (click)="$event.stopPropagation()" [matMenuTriggerFor]="polizaMenu" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
      </button>
-->
    </div>
    
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer>
    
    <div class="card">
      <nav mat-tab-nav-bar class="mat-tab-group">
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive
            class="mat-tab-label" #rla="routerLinkActive" [active]="rla.isActive">
            {{link.label}}
        </a>
    </nav>

    <router-outlet></router-outlet>
    </div>
  </vex-page-layout-content>

</vex-page-layout>
<!--
<mat-menu #polizaMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item [routerLink]="['/siniestros/editar']">
    <mat-icon [icIcon]="icEdit"></mat-icon>
    <span>Editar Siniestro</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDeleteForever"></mat-icon>
    <span>Eliminar Siniestro</span>
  </button>
</mat-menu>
-->