<vex-page-layout mode="card">

  <vex-page-layout-header fxLayout="row" fxLayoutAlign="space-between center">


    <div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">

        <button [routerLink]="['/ajustadores']" mat-icon-button type="button">
          <mat-icon [icIcon]="icArrowBackIos"></mat-icon>
        </button>

        <div>

        </div>
      </div>


    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">


    </div>
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer>
    <div class="card">

      <mat-tab-group>

      </mat-tab-group>
    </div>
  </vex-page-layout-content>

</vex-page-layout>