<div class="p-6">

    <div class="pb-5" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start top">


        <h3 class="mb-0">Comisión de Broker: S/ 100</h3>
        <u class="mat-body-strong">Según el 10% de la Prima Neta</u>
        <div>
            <div class="rounded px-2 py-1 font-medium text-xs text-green-50 bg-green-600" fxFlex="none">
                Pagado
            </div>
        </div>

        <mat-divider></mat-divider>
        <h3>Comisión de Promotor: S/ 10</h3>
        <u class="mat-body-strong">Según el 10% del total de la comisión del broker</u>

        <div>
            <div class="rounded px-2 py-1 font-medium text-xs text-green-50 bg-green-600" fxFlex="none">
                Pagado
            </div>
        </div>
    </div>
</div>