<div class="p-6">
    <div class="mat2-table">
        <div class="mat2-header-row">
            <div class="mat2-header-cell">Nº Siniestro</div>
            <div class="mat2-header-cell">Contratente</div>
            <div class="mat2-header-cell">Cobertura</div>
            <div class="mat2-header-cell">Fecha</div>
            <div class="mat2-header-cell">Estado</div>
        </div>
        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">Consorcio SAC</div>
            <div class="mat2-cell">Total</div>
            <div class="mat2-cell">12/03/2020</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
                        Activo
                    </div>
                </div>

            </div>
        </div>
        <div class="mat2-row">
            <div class="mat2-cell">C00000203</div>
            <div class="mat2-cell">Consorcio SAC</div>
            <div class="mat2-cell">Total</div>
            <div class="mat2-cell">12/03/2020</div>
            <div class="mat2-cell">
                <div>
                    <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
                        Activo
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>