<div class="p-8">
    <div fxLayout="row" fxLayoutGap="16px">

        <div class="bg-card rounded-full border px-4 w-30" fxFlex="30" fxLayoutAlign="start center">
            <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
            <input class="px-4 py-3 border-0 outline-none w-full bg-transparent" placeholder="Buscar Poliza..."
                type="search">
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="16px">
        <vex-custom-table (rowClick)="rowClick($event)" [columns]="tableColumns" [data]="tableData"
        [searchStr]="searchStr$ | async">
    </vex-custom-table>
    </div>
</div>