<div class="p-6">

    <div fxLayout="column" fxLayoutGap="16px">


        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
                <div>
                    <img src="/assets/img/aseguradoras/la-positiva.png" alt="Archivo"
                        style="width: 100%; max-width: 120px;">
                </div>
                <div>
                    <h6 class="text-primary-500">Louis Jackson</h6>
                    <small>rebecca.banks@mail.com </small>
                </div>
            </div>
            <div>

            </div>
        </div>

        <div class="mat2-table">
            <div class="mat2-header-row">
                <div class="mat2-header-cell">Código</div>
                <div class="mat2-header-cell">Versión</div>
                <div class="mat2-header-cell">V. de solicitud</div>
                <div class="mat2-header-cell">Fecha</div>
                <div class="mat2-header-cell">Prima</div>
                <div class="mat2-header-cell">Monto Asegurado</div>
                <div class="mat2-header-cell">Estado</div>
            </div>
            <div class="mat2-row">
                <div class="mat2-cell">C00000203</div>
                <div class="mat2-cell">V2</div>
                <div class="mat2-cell">V3</div>
                <div class="mat2-cell">16/06/1974</div>
                <div class="mat2-cell">US$ 120</div>
                <div class="mat2-cell">US$ 100.000,00</div>
                <div class="mat2-cell">
                    <div>
                        <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
                            Vigente
                        </div>
                    </div>
                </div>
            </div>
            <div class="mat2-row">
                <div class="mat2-cell">C00000203</div>
                <div class="mat2-cell">V2</div>
                <div class="mat2-cell">V3</div>
                <div class="mat2-cell">16/06/1974</div>
                <div class="mat2-cell">US$ 120</div>
                <div class="mat2-cell">US$ 100.000,00</div>
                <div class="mat2-cell">
                    <div>
                        <div class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-200" fxFlex="none">
                            Vencido
                        </div>
                    </div>
                </div>
            </div>
            <div class="mat2-row">
                <div class="mat2-cell">C00000203</div>
                <div class="mat2-cell">V2</div>
                <div class="mat2-cell">V3</div>
                <div class="mat2-cell">16/06/1974</div>
                <div class="mat2-cell">US$ 120</div>
                <div class="mat2-cell">US$ 100.000,00</div>
                <div class="mat2-cell">
                    <span class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-200" fxFlex="none">
                        Vencido
                    </span>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
                <div>
                    <img src="/assets/img/aseguradoras/pacifico.png" alt="Archivo"
                        style="width: 100%; max-width: 120px;">
                </div>
                <div>
                    <h6 class="text-primary-500">Louis Jackson</h6>
                    <small>rebecca.banks@mail.com </small>
                </div>
            </div>
            <div>
            </div>
        </div>

        <div class="mat2-table">
            <div class="mat2-header-row">
                <div class="mat2-header-cell">Código</div>
                <div class="mat2-header-cell">Versión</div>
                <div class="mat2-header-cell">V. de solicitud</div>
                <div class="mat2-header-cell">Fecha</div>
                <div class="mat2-header-cell">Prima</div>
                <div class="mat2-header-cell">Monto Asegurado</div>
                <div class="mat2-header-cell">Estado</div>
            </div>
            <div class="mat2-row">
                <div class="mat2-cell">C00000203</div>
                <div class="mat2-cell">V2</div>
                <div class="mat2-cell">V3</div>
                <div class="mat2-cell">16/06/1974</div>
                <div class="mat2-cell">US$ 120</div>
                <div class="mat2-cell">US$ 100.000,00</div>
                <div class="mat2-cell">
                    <div>
                        <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
                            Vigente
                        </div>
                    </div>

                </div>
            </div>
            <div class="mat2-row">
                <div class="mat2-cell">C00000203</div>
                <div class="mat2-cell">V2</div>
                <div class="mat2-cell">V3</div>
                <div class="mat2-cell">16/06/1974</div>
                <div class="mat2-cell">US$ 120</div>
                <div class="mat2-cell">US$ 100.000,00</div>
                <div class="mat2-cell">
                    <div>
                        <div class="rounded px-2 py-1 font-medium text-xs text-gray-600 bg-gray-200" fxFlex="none">
                            Vencido
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
                <div>
                    <img src="/assets/img/aseguradoras/protecta.png" alt="Archivo"
                        style="width: 100%; max-width: 120px;">
                </div>
                <div>
                    <h6 class="text-primary-500">Louis Jackson</h6>
                    <small>rebecca.banks@mail.com </small>
                </div>
            </div>
            <div>

            </div>
        </div>

        <div class="mat2-table">
            <div class="mat2-header-row">
                <div class="mat2-header-cell">Código</div>
                <div class="mat2-header-cell">Versión</div>
                <div class="mat2-header-cell">V. de solicitud</div>
                <div class="mat2-header-cell">Fecha</div>
                <div class="mat2-header-cell">Prima</div>
                <div class="mat2-header-cell">Monto Asegurado</div>
                <div class="mat2-header-cell">Estado</div>
            </div>
            <div class="mat2-row">
                <div class="mat2-cell">C00000203</div>
                <div class="mat2-cell">V2</div>
                <div class="mat2-cell">V3</div>
                <div class="mat2-cell">16/06/1974</div>
                <div class="mat2-cell">US$ 120</div>
                <div class="mat2-cell">US$ 100.000,00</div>
                <div class="mat2-cell">
                    <div>
                        <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
                            Vigente
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>