<vex-page-layout mode="card">
  <vex-page-layout-header fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
        <button [routerLink]="['/referenciadores']" mat-icon-button type="button">
          <mat-icon [icIcon]="icArrowBackIos"></mat-icon>
        </button>
        <div>
          <h2 class="title m-0">Nuevo Referenciador / Editar</h2>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
      <button color="primary-50" mat-stroked-button type="button">
        <span>Cancelar</span>
      </button>
      <button color="primary-50" mat-raised-button type="button">Guardar Cambios</button>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content vexContainer>
    <div class="card">
    
      <vex-cliente-form [isReferenciador]="true" [cliente]="cliente">
      </vex-cliente-form>
      
    </div>
  </vex-page-layout-content>
</vex-page-layout>