<vex-page-layout class="p-5" mode="card">

    <vex-page-layout-content vexContainer>

        <div class="mb-4">
            <div class="w-50 dbb">
            <h4 class="text-primary-500">Información de Condicion Médica</h4>
            </div>
        </div>

            <div fxLayout="row" fxLayoutGap="8px">
              
                <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Código de Servicio</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Código Restricción</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Identificador de fuente para Restricciones</mat-label>
                    <input matInput>
                </mat-form-field>
                
                </div>
                <div fxLayout="row" fxLayoutGap="8px">
                  
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Monto Diagnostico</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Tiempo de Espera</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Descripción preexistencia</mat-label>
                        <input matInput>
                    </mat-form-field>
                    
                    </div>

                <div fxLayout="row" fxLayoutGap="8px">
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Observaciones</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

    </vex-page-layout-content>

</vex-page-layout>



