<vex-page-layout mode="card">
  <vex-page-layout-header fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
        <div>
          <h2 class="title m-0">Roles y Permisos</h2>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
      <button color="primary-50" mat-stroked-button type="button">
        <span>Cancelar</span>
      </button>
      <button color="primary-50" mat-raised-button type="button">Guardar Cambios</button>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer>

    <div class="card">

      <div class="p-6">

        <h4 class="text-primary-500 mb-5">Seleccionar rol a modificar</h4>

        <div class="pb-0" fxLayout.lt-sm="column" fxLayoutGap="16px">
          <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="25">
            <mat-label>Rol</mat-label>
            <mat-select>
              <mat-option value="">Administrador</mat-option>
              <mat-option value="">...</mat-option>
              <mat-option value="">...</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <h4 class="text-primary-500 mb-5">Activar / desactivar acceso a funcionalidades</h4>
<!--
        <h6 class="pb-4">Dashboard</h6>

        <mat-divider color="accent"></mat-divider>
        <div class="pt-4" fxLayout.lt-sm="column" fxLayoutGap="16px">

          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>

        </div>
-->
        <h6 class="pb-4 pt-6">Clientes</h6>

        <mat-divider color="accent"></mat-divider>
        <div class="pt-4" fxLayout.lt-sm="column" fxLayoutGap="16px">

          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>

        </div>
<!--
        <h6 class="pb-4 pt-6">Cotizaciones</h6>

        <mat-divider color="accent"></mat-divider>
        <div class="pt-4" fxLayout.lt-sm="column" fxLayoutGap="16px">

          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
        </div>
        <div class="pt-4" fxLayout.lt-sm="column" fxLayoutGap="16px">
          
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          
        </div>
      -->

        <h6 class="pb-4 pt-6">Pólizas</h6>

        <mat-divider color="accent"></mat-divider>
        <div class="pt-4" fxLayout.lt-sm="column" fxLayoutGap="16px">

          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>

        </div>

        <h6 class="pb-4 pt-6">Siniestros</h6>

        <mat-divider color="accent"></mat-divider>
        <div class="pt-4" fxLayout.lt-sm="column" fxLayoutGap="16px">

          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>

        </div>
<!--
        <h6 class="pb-4 pt-6">Renovaciones</h6>

        <mat-divider color="accent"></mat-divider>
        <div class="pt-4" fxLayout.lt-sm="column" fxLayoutGap="16px">

          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>

        </div>
        <h6 class="pb-4 pt-6">Referenciadores</h6>
        
        <mat-divider color="accent"></mat-divider>
        <div class="pt-4" fxLayout.lt-sm="column" fxLayoutGap="16px">
          
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          <mat-slide-toggle color="warn" class="example-margin" fxFlex="25">
            Funcionalidad
          </mat-slide-toggle>
          
        </div>
      -->
      </div>
    </div>
    
  </vex-page-layout-content>
</vex-page-layout>