<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">Renovar Póliza</h2>

    <!-- <button (click)="toggleStar()" class="text-secondary" mat-icon-button type="button">
      <mat-icon *ngIf="renovacion?.starred" [icIcon]="icStar" class="text-amber-500"></mat-icon>
      <mat-icon *ngIf="!renovacion?.starred" [icIcon]="icStarBorder"></mat-icon>
    </button> -->

    <!-- <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button> -->

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column" class="mt-6">


    <div class="pb-4" fxLayout="column" fxLayoutGap="16px">
      <mat-radio-group color="accent" fxLayout="row" fxLayoutGap="16px" (change)="cambioMetodo($event)">
        <mat-radio-button [checked]="true" color="primary" value="1">Nuevo número de póliza</mat-radio-button>
        <mat-radio-button color="primary" value="2">Extensión de vigencia</mat-radio-button>
      </mat-radio-group>
    </div>

    
    <div *ngIf="nuevaPoliza">

      <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
        <mat-label>Nuevo número de Póliza</mat-label>
        <input matInput>
      </mat-form-field>

    </div>
    <div *ngIf="!nuevaPoliza">


      <div class="pb-0" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">

        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
          <mat-label>Fecha Inicio</mat-label>
          <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()"
            [matDatepicker]="formDatepickerRef" matInput readonly>
          <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #formDatepickerRef></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
          <mat-label>Fecha Fin</mat-label>
          <input (click)="formDatepickerRef2.open()" (focus)="formDatepickerRef2.open()"
            [matDatepicker]="formDatepickerRef2" matInput readonly>
          <mat-datepicker-toggle [for]="formDatepickerRef2" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #formDatepickerRef2></mat-datepicker>
        </mat-form-field>

      </div>

    </div>

    



  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button color="primary" mat-button type="submit">RENOVAR PÓLIZA</button>
  </mat-dialog-actions>
</form>
