<vex-page-layout mode="card">

    <vex-page-layout-header fxLayout="row" fxLayoutAlign="space-between center">

        <div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">

                <button [routerLink]="['/clientes']" mat-icon-button type="button">
                    <mat-icon [icIcon]="icArrowBackIos"></mat-icon>
                </button>

                <div>
                    <h2 class="title m-0">
                        <span >Agregar / Editar Usuario</span>
                    </h2>
                    <div>
                        <span>DNI 45055471 - Materia Gris</span>
                    </div>
                </div>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">

            <button color="primary-50" mat-stroked-button type="button" [routerLink]="['/clientes']">
                <span>Cancelar</span>
            </button>

            <button color="primary-50" mat-raised-button type="button" [routerLink]="['/clientes']">Guardar
                Cambios</button>

        </div>

    </vex-page-layout-header>

    <vex-page-layout-content vexContainer>
        <div class="card">
            <mat-tab-group>
            

            <mat-tab label="Datos del Usuario">
                <div class="p-6">
         
      
                  <div class="mt-2">
      
                    <h4 class="text-primary-500 d-none">Información del Usuario</h4>
                  </div>
      
                  <div class="mt-2" fxLayout="row" fxLayoutGap="8px" >
      
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="25">
                      <mat-label>Usuario</mat-label>
                      <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="25">
                      <mat-label>Contraseña</mat-label>
                      <input matInput type="password">
                    </mat-form-field> 
              
                  </div>
                  <div class="mt-2" fxLayout="row" fxLayoutGap="8px"  >
                  <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Nombres</mat-label>
                    <input matInput>
                  </mat-form-field>
                  
                  <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                      <mat-label>Apellido Paterno</mat-label>
                      <input matInput>
                    </mat-form-field> 
                    
                  <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                      <mat-label>Apellido Materno</mat-label>
                      <input matInput>
                    </mat-form-field> 
                  </div>
                 
                    <div class="mt-4">
      
                    <h4 class="text-primary-500 d-none pb-4">Información de Contacto</h4>
                  </div>
                  <div fxLayout="row" fxLayoutGap="8px">
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Tipo de Documento</mat-label>
                        <mat-select>
                            <mat-option>DNI</mat-option>
                            <mat-option>RUC</mat-option>
                        </mat-select>
                    </mat-form-field>
        
                      <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Nro Documento</mat-label>
                        <input matInput value="" readonly>
                      </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutGap="8px">
                    <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Email</mat-label>
                        <input matInput value="" readonly>
                      </mat-form-field>
        
                      <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Celular</mat-label>
                        <input matInput value="" readonly>
                      </mat-form-field>
                  </div>
      
              
              
              
              <div class="mt-0" fxLayout="row" fxLayoutGap="8px">
                
                
                    <mat-form-field appearance="outline" class="vex-flex-form-fieldn mt-0" fxFlex="30" *ngIf="personaNatural">
                       <!-- <mat-label>Institución u Organismo Público al que pertenece</mat-label>-->
                       <textarea matInput
                       placeholder="Observación de la Cobertura"
                       matTextareaAutosize matAutosizeMinRows="2"
                       matAutosizeMaxRows="5"
                       ></textarea>
                      </mat-form-field>
                    </div>
      
                  </div>
                  </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>

</vex-page-layout>
