<vex-page-layout-header fxLayout="row" fxLayoutAlign="space-between center">

  <div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
      <button [routerLink]="['/aseguradoras']" mat-icon-button type="button">
      </button>

      <div>
        <h2 class="title m-0">Sura</h2>
      </div>
    </div>
  </div>

</vex-page-layout-header>

<vex-page-layout-content vexContainer>
  <div class="card">
    <div class="p-6">
      <mat-tab-group>

        <mat-tab label="Ramos y código de intermediario">
          <div class="card">
            <div class="p-6">
              <h5 style="font-weight: 600;">
                Todos los Ramos de La Positiva Seguros
              </h5>
              <div fxLayout="column" style="margin: 10px;">
                <mat-slide-toggle color="warn" disabled="false">
                  Vehicular
                </mat-slide-toggle>
                <mat-slide-toggle color="warn" disabled="false">
                  Asistencia Médica
                </mat-slide-toggle>
                <mat-slide-toggle color="warn" disabled="false">
                  Accidentes Personales
                </mat-slide-toggle>
              </div>
            </div>

          </div>
        </mat-tab>

        <mat-tab label="Datos de contacto">
          <h5 style="font-weight: 800;margin-bottom: 20px;">Agregar contacto</h5>

          <div class="pb-0" fxLayout.lt-sm="column" fxLayoutGap="16px">
            <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="25">
              <mat-label>Contacto de Emisión</mat-label>
              <mat-select>
                <mat-option value="">Opción1</mat-option>
                <mat-option value="">Opción2</mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="25">
              <mat-label>Nombre</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="25">
              <mat-label>Apellido</mat-label>
              <input matInput>
            </mat-form-field>



          </div>

          <div class="pb-0" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
            <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="25">
              <mat-label>Email</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="25">
              <mat-label>Teléfono</mat-label>
              <input matInput>
            </mat-form-field>


            <mat-form-field appearance="outline" class="vex-flex-form-field" fxFlex="25">
              <mat-label>Fecha de nacimiento (opcional)</mat-label>
              <input (click)="formDatepickerRef.open()" (focus)="formDatepickerRef.open()"
                [matDatepicker]="formDatepickerRef" matInput readonly>
              <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #formDatepickerRef></mat-datepicker>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="end center">
              <button color="warn" mat-raised-button type="button">Agregar</button>
            </div>
          </div>


          <div class="mat2-table">
            <div class="mat2-header-row">
              <div class="mat2-header-cell">Nº</div>
              <div class="mat2-header-cell">Tipo</div>
              <div class="mat2-header-cell">Nombre</div>
              <div class="mat2-header-cell">Email</div>
              <div class="mat2-header-cell">Teléfono</div>
              <div class="mat2-header-cell">Fecha de Nacimiento</div>
              <div class="mat2-header-cell">Estado</div>
              <div class="mat2-header-cell">Acciones</div>
            </div>

            <div class="mat2-row">
              <div class="mat2-cell">C00000203</div>
              <div class="mat2-cell">Autos</div>
              <div class="mat2-cell">Kevin Romero</div>
              <div class="mat2-cell">kevin@protonmail.com</div>
              <div class="mat2-cell">9265484468</div>
              <div class="mat2-cell">12/03/2020</div>
              <div class="mat2-cell">
                <div>
                  <div class="rounded px-2 py-1 font-medium text-xs text-green-600 bg-green-100" fxFlex="none">
                    Activo
                  </div>
                </div>
              </div>
              <div class="mat2-cell">
                <div>
                  <div>
                    <button mat-button color="warn">Editar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </mat-tab>

        <mat-tab label="Tarifario">
          <h3>Tarifario</h3>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>

</vex-page-layout-content>